fastapi
uvicorn
openai
python-dotenv
pdfplumber
docx2txt
beautifulsoup4
requests
sentence-transformers
langchain
langchain-openai
langgraph
langchain-community
faster-whisper
python-multipart
supabase
boto3
googlesearch-python